{% include 'header.html'%}
{% load static %}
<html>
    {% block 'main' %}
    <body>
        <center><h1>Band is a  multidisciplinary creative studio</h1></center><br>
           <center> We work together to design,create and produce work that we are produce of for folks that we believe in.We are avialiable for hire in a wide range of creative disciplines foe a variety of jobs,projects and gigs.</center>
            <img src="{% static 'images/ea6ac8_247ebd0a8gfyg.png' %}">
        </body>
        </html>
        {% endblock 'main' %}
{% include 'footer.html' %}