{% include 'header.html'%}
{% load static %}
<html>
    <head>
    </head>
    <title>
        userform</title>
        <body>
            <div class="main">
                <form action="" method="GET">
                    Value 1:<input name="Value1"id="Value1"type="text" placeholder="enter Value1..."/><br>
                    Value 2:<input name="Value2"id="Value2"type="text" placeholder="enter Value2..."/><br>
                    <input type="submit" value="calculate"/>
                    output:<input type="text" value="{{output}}"/>
                </form>
            </div>
        </body>
        </html>
