{% include 'header.html'%}
{% load static %}
<html>
    <head>
    </head>
    <title>userform</title>
    <body>
        <div class="main">
            <form action="" method="GET">
                <input type="text" name="servicesname"value=""/>
                <input type="submit" value="search"/>
            </form>
        </div>
            {% for services in ser %}
            <li>
                <h2>{{ Services.service_title }}</h2>
                <p>{{ Services.service_desc }}</p>
                <h3>{{ Services.service_icon }}</h3>
            </li>
            {% endfor %}
        
    </body>
    </html>