<html>
    <head>
    </head>
    <title>userform</title>
    <body>
        <div class="main">
            <form action="" method="GET">
                Value 1:<input type="Value1"id="value1" type="text" placeholder="enter value1"/><br>
                Value 2:<input type="Value2"id="value2" type="text" placeholder="enter value2"/><br>
                <input type="submit" value="calculate"/>
                output:<input type="text" value="{{output}}"/>
            </form>
        </div>
    </body>
    </html>